::-webkit-scrollbar {
    display: none;
}

html { 
    scroll-behavior: smooth !important; 
}

body {
    background: linear-gradient(180deg, #23395d, #152238);
    background-size:cover;
    background-repeat: no-repeat;
    height:200vh;
    width:max-content;
    text-size-adjust: auto;
}   

#mc-img {
    position: relative;
    width: 100vmax;
    top: -8px;
    left: -8px;
}

#section1 {
    height: 0px;
    position: absolute;
    top: 0px;
}

#sanstyping {
    background: none;
    border: none;
    font-weight: bolder;
    font-size: large;
}

.cache {
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 10px;
    white-space: nowrap;
    position: absolute;
    font-weight: 100;
    bottom:200%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    animation-duration: 1s;
    animation-name: main-text;
}

.maintext {
    text-align: center;
    color: #fff;
    font-size: 100px;
    line-height: 10px;
    position: absolute;
    bottom:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
}

.main-text {
    text-align: center;
    color: #fff;
    font-size: 100px;
    position: relative;
    bottom:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    white-space: nowrap;
    opacity: 100%;
    transition: 1s;
    animation-duration: 1s;
    animation-name: main-text;
}

.main-text:hover {
    letter-spacing: 5px;
}

.sub-text {
    color: #fff;
    text-align: center;
    font-size:30px;
    font-weight:550;
    position:absolute;
    bottom:55%;
    right:50%;
    transform: translate(50%, 230%);
    display:inline-block;
    white-space: nowrap;
    background: transparent;
    border: none;
    animation-duration: 1s;
    animation-name: main-text;
    transition: 1s;
}

.sub-text:hover {
    cursor: pointer;
    letter-spacing: 2px;
}

#code {
    height: 30px;
    width: 320px;
    font-size: 25px;
    border: #fff;
    border-radius: 3px;
    opacity: 0%;
    transition: 0.5s ease-out;
    position:fixed;
    bottom:10px;
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
}

#code2 {
    height: 32px;
    font-size: 20px;
    border: #fff;
    border-radius: 3px;
    opacity: 0%;
    transition: 0.5s ease-out;
    position:fixed;
    bottom:10px;
    left:340px;
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
}

#code:hover {
    opacity: 50%;
}

#code2:hover {
    opacity: 50%;
}

@keyframes main-text {
    from {
        opacity: 0%;
        letter-spacing: 5px;
    }

    to {
        opacity: 100%;
        letter-spacing: normal;
    }
}

@keyframes main-text-click {
    0% {
        font-size: 30px;
    }

    5% {
        font-size: 31px;
    }

    100% {
        font-size: 30px;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
